@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start: #cccccc;
  --background-end: #597997;
}

body {
  color: #ffffff;
  background: linear-gradient(to bottom, transparent, var(--background-end))
    var(--background-start);
}
