@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start: #ffffff;
  --background-end: #d0d0d0;
  --app-height: 100%;
}

body {
  min-height: 100vh;

  /*mobile viewport bug */
  /* min-height: -webkit-fill-available; */
  overflow: hidden;
  color: #000000;
  background: var(--background-end);
}

.swiper-wrapper {
  display: flex !important;
  align-items: center !important;
}
